<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <style>
        .row>* {
            width: 50%;
        }
        .col-sm-6 {
            width: 100%;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<!--header-->
<div th:insert="blocks/header :: header"></div>
<!--main-->
<main>
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h2>All done</h2>
        <p class="lead">Information received.</p>
    </div>
</main>
<!--footer-->
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>